// VARIALBLES
// Demo colors:
$demoMain: rgba(51, 153, 204,.2);
$demoMainDark: rgba(51, 153, 204,.6);
$demoBorder: #33cccc;
$demoHolly: rgba(102, 51, 255, 0.1);
$demoHollyDark: rgba(102, 51, 255, 0.25);

$demoBlack: rgba(51,51,51,1);
$demoBlackHover: rgba(0,0,0,1);

$main: rgba(32, 153, 204,.2);
// $mainDark: rgba(51, 153, 204,.6);
$mainDark: #093c8d;

$mainFont: 'Raleway', sans-serif;




html,body {
  color: #404040;
  margin: -8px!important;
  margin-bottom: -10px!important;
}

.icon{
   position: relative;
  x-transition: all 2s ease-in-out;
  animation: ani 2.7s infinite;
}
.iconTwo{
   position: relative;
  x-transition: all 3s ease-in-out;
  animation: ani 3.7s infinite;
}
.iconThree{
   position: relative;
  x-transition: all 4s ease-in-out;
  animation: ani 1.7s infinite;
}

.wrapper{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.bg{
  background: url(./assets/images/blue-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-left{
  background: url(./assets/images/blue-bg-top.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-right{
  background: url(./assets/images/blue-bg-top.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-center{
  background: url(./assets/images/blue-bg-center.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.black-bg{
  background: url(./assets/images/black-bg.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4 {
  color: white;
  margin: 1.5em 0 0.5em;
  font-family: $mainFont;
}

p{
  font-family: $mainFont;
}

h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.3em;}

strong {font-weight: 600;}


.header {
  font-family: $mainFont;
  background-color: rgba(0, 0, 0, .3);
  height: 80px;
  position: relative;
  z-index: 1;
  font-size: 12px;
  .logo{
    margin-top:-8px;
    width:90%;
  }
  .header-text{
    max-width: 1200px;
    margin: auto;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    li {
      float: left;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 30px 20px 20px 20px;
      text-decoration: none;
    }
    li a:hover:not(.active) {
        // background-color: $demoBlackHover;
    }
    .active {
        // background: $demoMainDark;
    }
    .mobile{
      display: none;
    }
  }
}
.mobile{
  display: none;
}
.button{
  padding: 13px 33px 13px 33px;
  border-radius: 20px;
  background-color: #1c52a2;
  color: white;
}
.button:hover{
  padding: 13px 33px 13px 33px;
  border-radius: 20px;
  background-color: white;
  color: #1c52a2;
}
.button-blue{
  padding: 13px 33px 13px 33px;
  border-radius: 20px;
  background-color: #1c52a2;
  color: white;
}
.button-blue:hover{
  padding: 13px 33px 13px 33px;
  border-radius: 20px;
  background-color: white;
  color: #1c52a2;
}
.button-padding{
  padding: 20px 0px 20px 0px;
}

.section-a{
  height: 70%;
  margin-top: -80px;
  padding: 40px 0px 40px 50px;
  .section-a-content{
    padding-top: 150px;
    padding-bottom: 150px;
    h1, h4{
      font-weight: normal;
    }
  }
  .timer{
    margin-left: 80px;
  }
  .timer-style{
    position: absolute;
    z-index: 2;
    margin-top: 165px;
    margin-left: 142px;
    font-size: 46px;
  }
}

.section-b{
  background-color: white;
  height: 70%;
  margin-top: -50px;
  padding: 20px;
  -webkit-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
 -moz-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
 -ms-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out ;
 -o-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
 transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
  h1, h2, h3, h4{
    color:black;
  }
  p{
    color: grey;
    padding: 40px;
    line-height: 24px;
  }
  .section-b-subtext{
    margin-bottom: -40px;
    animation-name: slidein;
    animation-duration: .9s;

  }
}

.animated {
  width: 200%;
}
.section-c{
  height: 100%;
  padding: 260px 60px 60px 60px;
  padding-bottom:89px;
  h4{
    font-weight: normal;
    margin-top:10px;
  }
  p{
    color:white;
    font-weight: normal;
    opacity: .9;
  }
  .iphone-img{
    position: absolute;
    margin-top: -8px;
    width: 227px;
    margin-left: -121px;
  }
  .icon{
    margin-top: 40px;
  }
  .icon-text{
    width: 300px;
  }
  .section-c-hide-mobile{
    display:none;
  }
}

.section-d{
  background-color: white;
  height: 50%;
  padding: 20px;
  p{
    font-weight: normal;
    opacity: .9;
  }
  h1, h2, h3, h4{
    color:black;
  }
  img{
    padding-top: 40px;
  }
  .blackbox-token-section{
    padding:20px;
  }
}

.section-e{
  height: 60%;
  padding: 309px 20px 310px 20px;
  .roadmap{
    width: 100%;
    position: relative;
  }
  .right-arrow{
    position: relative;
    float: right;
    border: solid 2px white;
  }
  .left-arrow{
    position: relative;
    border: solid 2px white;
  }
  .right-arrow:hover{
    width: 50px;
    margin-bottom: -18px;
  }
  .left-arrow:hover{
    width: 50px;
    margin-bottom: -18px;
  }
}

.section-f{
  background-color: white;
  height: 50%;
  padding: 60px;
  h1, h2, h3, h4{
    color:black;
  }
  p{
    font-weight: normal;
    opacity: .8;
  }
  .timeline{
    width: 100%;
    // margin-left: -190px;
    padding: 30px 0px 30px 0px;
  }
  li{
    font-weight: normal;
    opacity: .8;
    list-style-type: none;
    padding-bottom: 6px;
  }
  .blue-dot{
    color: blue;
    font-size: 130px;
    padding: 0px;
  }
  .blue-dot-text{
    position: absolute;
    padding-left: 20px;
  }
  .blue-dot-percent{
    padding-left: 40px;
  }
  .blue-dot-percent-two{
    padding-left: 20px;
  }
}

.section-g{
  background-color: white;
  height: 60%;
  padding: 60px;
  h1, h2, h3, h4{
    color:black;
  }
  .team-img-container{
    width:200%;
    margin-left: 10px;
    transition: margin-left 1s;
    -webkit-transition: margin-left 1s; /* Safari 3.1 to 6.0 */
  }

  .team-img{
    margin-left:-10px;
    padding: 40px 0px 40px 0px;
  }
  .team-img:hover{
    transition: all 0.5s ease
  }
  .team-img-p{
    margin-top: -30px;
  }

}


.section-h{

  height: 30%;
  padding: 400px 60px 60px 60px;
  h4{
    font-weight: normal;
    padding-bottom: 20px;
  }
  p{
    color:white;
    font-weight: normal;
    opacity: .9;
  }
  .wallets-padding{
    padding-bottom:60px;
  }
}

.section-i{
  background-color: white;
  height: 20%;
  padding: 60px;
  h1, h2, h3, h4{
    color:black;
  }
  .partners-padding{
    padding-bottom:60px;
  }
}

.section-J{
  background-color: #f8f8f8;
  height: 60%;
  padding: 60px;
  .wrapper{
    padding-left: 120px;
    padding-right: 120px;
    transition: all 0.3s;
  }
  h1, h2, h3, h4{
    color:black;
  }
  .faq-padding{
    padding-bottom:60px;
  }
  .faq{
    background-color: white;
    border: solid 2px #eee;
    padding: 10px 80px 10px 80px;
    margin-top: -10px;
    text-align: center;
  }
  .arrow{
    position: relative;
    padding-left: 20px;
  }
  .faq-blue{
    background-color: #0252d2;
    color:white;
    padding: 10px 80px 10px 80px;
    margin-top: -10px;
    border: solid 1px #0252d2;
  }
  .faq-hidden{
    margin-top: -18px;
    padding: 20px;
    background-color: white;
    border: solid 1px #0252d2;
  }
  .faq-hidden-select{

  }
}

.section-k{
  height: 40%;
  padding: 60px;
  .join-padding{
    padding-bottom:60px;
  }
  h4{
    font-weight: normal;
  }
}

.section-l{
  height: 30%;
  padding: 30px;
  .logo{
    width:40%;
  }
  p{
    color: white;
    opacity: 0.9;
  }
}

.img-placeholder {
  background-image: url("http://placehold.it/200x100/CC99CC/ffffff&text=Feature");
  background-size: cover;
  min-height: 100px;  // need to specify min-height and min-width
  min-width: 100px;
}

/*Basic Grid Styles*/
.Grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.u-textCenter {
 text-align: center;
}
.u-textRight{
  text-align: right;
}
.u-textLeft{
  text-align: left;
}
.Grid-cell {
  flex: 1;
}

.Demo {
  padding: .8em 1em 0;
  margin-bottom: 1em;
  background: $demoMain;
  transition: background-color 0.3s ease;
  border: 1px solid $demoBorder;
  border-radius: 3px;
  &:after {
    content: "";
    display: block;
    margin-top: .8em;
    height: 1px;
   }
  &:hover {
    background: $demoMainDark;
  }
}

.Demo.Holly {
    background: $demoHolly;
    &:hover {
      background: $demoHollyDark;
    }
  }



// Grid Style Modifiers

/* With gutters*/
$gutter:1em;
.Grid--gutters {
  margin-left: -$gutter;
  .Grid-cell {
    padding-left: $gutter;
  }
  .Grid--nested {
    .Grid-cell:first-of-type {
      .Demo {
        margin-right: 1em;
      }
    }
  }
}


/* Justify per row*/
.Grid--right {
  justify-content: flex-end;
}
.Grid--center {
  justify-content: center;
}

/* Alignment per row */
.Grid--top {
  align-items: flex-start;
}
.Grid--bottom {
  align-items: flex-end;
}
.Grid--center {
  align-items: center;
}

/* Alignment per cell */
.Grid-cell--top {
  align-self: flex-start;
}
.Grid-cell--bottom {
  align-self: flex-end;
}
.Grid-cell--center {
  align-self: center;
}

// Menu
.navigation {
  list-style: none;
  /*background: deepskyblue;*/
  background: $demoHolly;
  margin: 0 0 1em;
  border: 1px solid $demoBorder;
  border-radius: 3px;

  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
    a {
      text-decoration: none;
      display: block;
      padding: 1em;
      color: #333;
      &:hover {
        background: darken($demoHolly, 10%);
        border-radius:3px;
      }
    }
  &:hover {
    background: $demoHollyDark;
  }
}
@media all and (max-width: 1200px) {
  .section-c-hide{
    display:none;
  }
  .section-c-hide-mobile{
    display:block!important;
    padding-top: 40px;
  }
  .section-c{
    padding-bottom: 356px;
  }
  .section-c .iphone-img {
    position: absolute;
    margin-top: -8px;
    width: 227px;
    margin-left: -113px;
  }
  .section-c {
    height: 100%;
    padding: 60px 60px 60px 60px;
    padding-bottom: 357px;
  }
  .bg-left {
    background: url(./assets/images/blue-bg.jpg) no-repeat center center;
    background-size: cover;
  }
}
@media all and (max-width: 1100px) {
  .header{
    font-size: 12px;
    color:red;
  }
  header .header-text li a {
    padding: 30px 10px 30px 10px!important;
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .section-c-hide{
    display:none;
  }
  .section-c {
    height: 100%;
    padding: 60px 60px 60px 60px;
    padding-bottom: 357px;
  }
  .section-c .iphone-img {
    position: absolute;
    margin-top: -8px;
    width: 227px;
    margin-left: -113px;
  }
  .bg-left {
    background: url(./assets/images/blue-bg.jpg) no-repeat center center;
    background-size: cover;
  }
}

@media all and (max-width: 900px) {
  .desktop{
    display: none;
  }
  header .header-text .mobile{
    display: block!important;
    margin-top: 5px;
  }
  header .header-text li a {
    padding: 30px 0px 30px 10px!important;
    // text-align: right!important;
  }
  .hamburger{
    width: 8%;
    margin-top: -15px;
    float: right;
  }
  .header .logo{
    margin-top: -9px;
    // width: 90%;
    // margin-left: 30px;
  }
  .mobile-dropdown{
    background-color: black;
    margin-top: -20px!important;
    background-color: rgba(0, 0, 0, .3);
    li {
    float: left;
    padding-left: 3%;
    }
  }

}

@media all and (max-width: 800px) {

  .navigation {
    justify-content: space-around;
  }
  .content-1of2, .content-1of3, .content-1of4{
    margin-right: 1em;
  }
  .Grid--right, .Grid--center{
    margin-left: 0em;
    margin-right: 0em;
  }
  .hamburger{
    width: 8%;
    margin-top: -15px;
    float: right;
  }
}

@media all and (max-width: 799px) {
  .hamburger{
    width: 8%;
    margin-top: -8px;
    float: right;
    margin-left: -100px;
  }
  .section-a{
    padding:0px;
    .timer{
      margin-left: 0px;
      padding-top: 50px;
    }
  }
  .section-a .section-a-content {
    padding-top: 100px;
    padding-bottom: 150px;
    text-align: center;
  }
  .section-a .timer-style{
    position: absolute;
    z-index: 2;
    margin-top: 214px;
    margin-left: -116px;
    font-size: 47px;
  }
}

@media all and (max-width: 700px) {
  .hamburger{
    width: 8%;
    margin-top: -2px;
    float: right;
    margin-left: -196px;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
    a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255,255,255,0.3);
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    li:last-of-type a {
      border-bottom: none;
    }
  }
  .section-a{
    padding: 20px;
  }
  .hamburger{
    width: 25%;
    margin-top: -4px;
    float: right;
    margin-left: -386px;
  }
  .section-J .wrapper {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }

}
// iphone 8 plus
@media all and (max-width: 414px) {
  html, body {
    overflow-x: hidden;
  }
  .Grid--gutters {
    margin-left: -2em;
  }
  .section-a .timer {
    margin-left: -4px;
    padding-top: 50px;
    margin-top: -80px;
  }
  .section-a .timer-style {
    position: absolute;
    z-index: 2;
    margin-top: 134px;
    margin-left: -128px;
    font-size: 47px;
  }
  .section-g {
    background-color: white;
    height: 60%;
    padding: 0px 60px;
  }
  .token-sale{
    margin-left: -1em;
  }
  .section-g .team-img {
      margin-left: 15px;
  }
  .section-d {
    background-color: white;
    height: 50%;
    padding: 60px;
  }

}
// iphone 8
@media all and (max-width: 375px) {

  .hamburger{
    width: 45%;
    margin-top: -6px;
    float: right;
    margin-left: -436px;
  }
  .section-g .team-img {
    margin-left: 0px;
  }
  .section-k{
    padding: 80px;
  }
  .token-sale{
    margin-left: -1em;
  }
  .header .logo {
      margin-top: -9px;
      width: 81%;
      margin-left: 24px;
  }
  .right-arrow{
    margin-top: -40px;
  }
  .left-arrow{
    margin-left: 10px;
  }
  .section-a .section-a-content {
    padding-top: 33px;
    padding-bottom: 90px;
    text-align: center;
  }
  .section-a .timer {
    margin-left: -4px;
    padding-top: 50px;
    width: 88%;
    margin-top: -80px;
  }
  .section-a .timer-style {
    position: absolute;
    z-index: 2;
    margin-top: 126px;
    margin-left: -111px;
    font-size: 42px;
  }
  h4{
    font-size: 16px;
  }

}


/*===========================================*/
/* Base classes for all media - Mobile first */
.Grid--cols-2 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-3 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-4 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-6 > .Grid-cell {
  flex: 0 0 calc(50% - #{$gutter});
}

.Grid--cols-12 > .Grid-cell {
  flex: 0 0 calc(33.3333% - #{$gutter});
}

.Grid--holly-grail {
  .aside, .main {
    flex: 1 100%;
  }
}

/* One of -- columns*/
.Grid--1of2 > .Grid-cell,
.Grid--1of4 > .Grid-cell:first-of-type,
.Grid--1of3 > .Grid-cell:first-of-type{
  flex: 0 0 100%;
}
.Grid--1of6 > .Grid-cell:first-of-type {
  flex: 0 0 50%;
}

.Grid--fit > .Grid-cell {
  flex: 1;
}
.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}

/* Tablet (medium) screens */
@media (min-width: 30em) {
  .Grid--cols-4 > .Grid-cell {
    flex: 0 0 calc(50% - #{$gutter});
  }
  .Grid--cols-6 > .Grid-cell {
    flex: 0 0 calc(33.3333% - #{$gutter});
  }
  .Grid--cols-12 > .Grid-cell {
    flex: 0 0 calc(16.6666% - #{$gutter});
  }
  .Grid--holly-grail {
    .aside {
      flex: 1 calc(25% - #{$gutter});
    }
  }
  .Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--1of6 > .Grid-cell:first-of-type {
    flex: 0 0 30%;
  }
  .Grid--1of4 > .Grid-cell:first-of-type {
    flex: 0 0 50%;
  }
  .Grid--1of3 > .Grid-cell:first-of-type {
    flex: 0 0 100%;
  }
}

/* Large screens */
@media (min-width: 48em) {
  .Grid--cols-2 > .Grid-cell,
  .Grid--cols-3 > .Grid-cell,
  .Grid--cols-4 > .Grid-cell,
  .Grid--cols-6 > .Grid-cell,
  .Grid--cols-12 > .Grid-cell{
    flex: 1;
  }
  .Grid--holly-grail {
    .main    { flex: 2; }
    .aside   { flex: 1; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
  }
  .Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--1of6 > .Grid-cell:first-of-type {
    flex: 0 0 16.6666%;
  }
  .Grid--1of4 > .Grid-cell:first-of-type {
    flex: 0 0 25%;
  }
  .Grid--1of3 > .Grid-cell:first-of-type {
    flex: 0 0 30%;
  }
  .Grid--gutters.Grid--nested {
    .Grid-cell:first-of-type {
      .Demo {
        margin-right: 0;
      }
    }
  }
}

@keyframes ani {

  0%{
  bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
  bottom: 0;
  }
}
