<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>BlackBox</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <header>
    <div class="header">
       <div class="header-text">
         <ul>

           <div class="desktop">
             <li><a href="#home"><img class="logo" src="./assets/images/logo.png"></a></li>
             <li style="float:right"><a class="active" href="#faq">FAQS</a></li>
             <li style="float:right"><a class="active" href="#partners">PARTNERS</a></li>
             <li style="float:right"><a class="active" href="#team">TEAM</a></li>
             <li style="float:right"><a class="active" href="#tokensale">TOKENSALE</a></li>
             <li style="float:right"><a class="active" href="#map">ROADMAP</a></li>
             <li style="float:right"><a class="active" href="#token">BLACKBOX TOKEN</a></li>
             <li style="float:right"><a class="active" href="#platform">PLATFORM</a></li>
             <li style="float:right"><a class="active" href="#overview">OVERVIEW</a></li>
           </div>
         </ul>

         <div class="mobile">
           <ul>
             <!-- <a href="#home"><img class="logo u-textCenter" src="./assets/images/logo.png"></a> -->
             <li><a href="#home"><img class="logo u-textCenter" src="./assets/images/logo.png"></a></li>
             <!-- <li><a (click)="mobShow = !mobShow" href="#about"><img class="hamburger" src="./assets/images/hamburger.svg"></a></li> -->
          </ul>
         </div>

         <div [hidden]="!mobShow" class=" mobile-dropdown u-textCenter">
           <ul>
             <li><a class="active" href="#faq">FAQS</a></li>
             <li><a class="active" href="#partners">PARTNERS</a></li>
             <li><a class="active" href="#team">TEAM</a></li>
             <li><a class="active" href="#tokensale">TOKENSALE</a></li>
             <li><a class="active" href="#map">ROADMAP</a></li>
             <li><a class="active" href="#token">BLACKBOX TOKEN</a></li>
             <li><a class="active" href="#platform">PLATFORM</a></li>
             <li><a class="active" href="#overview">OVERVIEW</a></li>
          </ul>
         </div>


       </div>
     </div>
  </header>
   <div id="a" class="section-a bg">
     <div class="wrapper">
       <div class="section-a-content">
         <div class="Grid Grid--gutters Grid--cols-2">
           <div class="Grid-cell">
             <h1 [@text1]>LEARN. SHARE ANALYSIS. EARN CRYPTO.</h1>
             <h4 [@text2]>THE #1 SOCIAL TRADING PLATFORM</h4>

             <div [@text2] class="button-padding">
               <button class="button">BBX PLATFORM</button>
             </div>
           </div>


           <div [@text1] class="Grid-cell">
             <h1><countdown-timer  class="timer-style"[end]="'2018-05-01 00:00:00'"></countdown-timer></h1>

             <img class="timer" src="./assets/images/timer2.png">

           </div>
         </div>
      </div>
    </div>
   </div>

   <div id="overview" class="section-b">
     <div class="wrapper">
       <div  class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><h1 *ngIf="show" [@enterAnimationTop]>BLACKBOX OVERVIEW</h1></div>
       </div>

       <div  class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><img src="./assets/images/line.png"></div>
       </div>


       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><p>BlackBox Crypto is a social trading platform that allows traders to share analysis and monetize their audience via micropayments and subscription fees paid in cryptocurrency.</p></div>
       </div>

       <div class="Grid Grid--gutters Grid--cols-3 u-textCenter">

          <div class="Grid-cell">
            <img class="icon" *ngIf="show1" [@enterAnimation] src="./assets/images/money.png">
            <h4 class="section-b-subtext">Charts & Tools </h4>
            <p> <span *ngIf="text1" [@text1]>- Live Charts</span> <br/>
                <span *ngIf="text2" [@text2]>- All Major Exchanges</span> <br/>
                <span *ngIf="text3" [@text3]>- Advanced Trading Tools</span><br/>
                <span *ngIf="text4" [@text4]>- Alert System</span><br/>
            </p>
          </div>
          <div class="Grid-cell">
            <img class="iconTwo" *ngIf="show2" [@enterAnimation2] src="./assets/images/wallet.png">
            <h4 class="section-b-subtext">Live Streaming</h4>
            <p> <span *ngIf="text1" [@text1]>- User Profiles</span> <br/>
                <span *ngIf="text2" [@text2]>- Top Live Traders</span> <br/>
                <span *ngIf="text3" [@text3]>- Watch Free & Paid Channels</span><br/>
                <span *ngIf="text4" [@text4]>- Trollbox</span><br/>
            </p>
          </div>
          <div class="Grid-cell">
            <img class="iconThree" *ngIf="show3" [@enterAnimation3] src="./assets/images/bitcoin.png">
            <h4 class="section-b-subtext">CLOUD MINING</h4>
            <p> <span *ngIf="text1" [@text1]>- Start a channel</span> <br/>
                <span *ngIf="text2" [@text2]>- Set your own price</span> <br/>
                <span *ngIf="text3" [@text3]>- Earn from your audience</span><br/>
            </p>
          </div>
        </div>
    </div>
   </div>

   <div id="platform" class="section-c bg-left">
     <div class="wrapper">
       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><h1>BLACKBOX CRYPTO PLATFORM</h1></div>
       </div>
       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><img src="./assets/images/whiteLine.png"></div>
       </div>

       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><p>BlackBox Crypto is created the first social trading platform. Blackbox has been designed to provide the greatest crypto trading resources to a community eager to trade. The platform offers a massive selection of cryptocurrency price charts & trading tools, and combined allows users to share their charts & analysis via live streaming to other users for free, or for payment. All earnings go to users.</p>
         </div>
       </div>


       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><button class="button">JOIN NOW</button></div>
       </div>

       <div class="Grid Grid--gutters Grid--cols-3 section-c-hide">
         <div class="Grid-cell iphone-left">
           <div class="Grid Grid--gutters Grid--cols-2 u-textRight">
             <div class="Grid-cell ">
               <h4>Basic & Advanced Indicators </h4>
               <p class="icon-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo </p>
             </div>
             <div class="Grid-cell icon iconTwo"><img src="./assets/images/telegram.png"></div>
           </div>
           <div class="Grid Grid--gutters Grid--cols-2 u-textRight">
             <div class="Grid-cell">
               <h4>Live Markets</h4>
               <p class="icon-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo </p>
             </div>
             <div class="Grid-cell icon"><img src="./assets/images/calendar.png"></div>
           </div>
           <div class="Grid Grid--gutters Grid--cols-2 u-textRight">
             <div class="Grid-cell">
               <h4>Biggest Exchanges</h4>
               <p class="icon-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo </p>
             </div>
             <div class="Grid-cell icon iconThree"><img src="./assets/images/analytics.png"></div>
           </div>
         </div>
         <div *ngIf="iphone" [@iphone] class="Grid-cell">
           <h1 class="u-textCenter"><img class="iphone-img" src="./assets/images/phone.png"></h1>
         </div>
         <div class="Grid-cell text-right">
           <div class="Grid Grid--gutters Grid--cols-2 u-textLeft">
             <div class="Grid-cell icon iconThree"><img src="./assets/images/presentation.png"></div>

             <div class="Grid-cell" >
               <h4>Live Chat w Other Traders</h4>
               <p class="icon-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo </p>
             </div>
           </div>
           <div class="Grid Grid--gutters Grid--cols-2 u-textLeft">
             <div class="Grid-cell icon "><img src="./assets/images/smartphone.png"></div>

             <div class="Grid-cell">
               <h4>Education Resources/Tools</h4>
               <p class="icon-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo </p>
             </div>
           </div>
           <div class="Grid Grid--gutters Grid--cols-2 u-textLeft">
             <div class="Grid-cell icon iconTwo"><img src="./assets/images/profits.png"></div>

             <div class="Grid-cell">
               <h4>Mobile Application</h4>
               <p class="icon-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo </p>
             </div>
           </div>
         </div>
       </div>

       <div class="Grid Grid--gutters Grid--cols-3 u-textCenter section-c-hide-mobile">
          <div class="Grid-cell">
            <img src="./assets/images/telegram.png">
            <h4 class="section-b-subtext">FEATURES</h4>
            <p>Lorem ipsum dolor sit amet, at cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="Grid-cell">
            <img src="./assets/images/profits.png">
            <h4 class="section-b-subtext">WALLET</h4>
            <p>Lorem ipsum dolor sit amet, at cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="Grid-cell">
            <img src="./assets/images/profits.png">
            <h4 class="section-b-subtext">CLOUD MINING</h4>
            <p>Lorem ipsum dolor sit amet, at cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>

        <div class="Grid Grid--gutters Grid--cols-3 u-textCenter section-c-hide-mobile">
           <div class="Grid-cell">
             <img src="./assets/images/profits.png">
             <h4 class="section-b-subtext">FEATURES</h4>
             <p>Lorem ipsum dolor sit amet, at cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
           </div>
           <div class="Grid-cell">
             <img src="./assets/images/profits.png">
             <h4 class="section-b-subtext">WALLET</h4>
             <p>Lorem ipsum dolor sit amet, at cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
           </div>
           <div class="Grid-cell">
             <img src="./assets/images/profits.png">
             <h4 class="section-b-subtext">CLOUD MINING</h4>
             <p>Lorem ipsum dolor sit amet, at cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
           </div>
           <div class="Grid-cell">
             <h1 class="u-textCenter"><img class="iphone-img" src="./assets/images/phone.png"></h1>
           </div>
         </div>

         <div class="Grid Grid--full u-textCenter">

        </div>
    </div>
   </div>

   <div id="token" class="section-d" animateOnScroll animationName="bounceIn">
     <div class="wrapper">
       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><h1>BBX Token</h1></div>
       </div>

       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><img src="./assets/images/line.png"></div>
       </div>

       <div class="Grid Grid--gutters Grid--cols-3 blackbox-token-section">
         <div *ngIf="token1" [@token1] class="Grid-cell">
           <img class="icon" src="./assets/images/worldwide.png">
           <h4>Monetized/Incentivized Community</h4>
           <p>Lorem ipsum dolor sit amet, at cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         </div>
         <div *ngIf="token2" [@token2] class="Grid-cell">
           <img class="iconTwo" src="./assets/images/cube.png">
           <h4>Level Accessibility</h4>
           <p>Lorem ipsum dolor sit amet, at cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         </div>
         <div *ngIf="token3" [@token3]  class="Grid-cell">
           <img class="iconThree" src="./assets/images/eve.png">
           <h4>Master Utility Nodes</h4>
           <p>Lorem ipsum dolor sit amet, at cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         </div>
       </div>
    </div>
   </div>

   <div id="map" class="section-e bg-center">
     <div class="wrapper">
       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><h1>ROAD MAP</h1></div>
       </div>
       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><img src="./assets/images/whiteLine.png"></div>
       </div>

       <div class="Grid Grid--gutters Grid--cols-2 desktop">
         <!-- image one hide -->
         <div [hidden]="imgOne" class="Grid-cell"><img (click)="imgTwo = !imgTwo; imgOne = !imgOne" class="left-arrow" src="./assets/images/left-arrow.png"></div>
         <div [hidden]="imgOne" class="Grid-cell"><img (click)="imgTwo = !imgTwo; imgOne = !imgOne" class="right-arrow" src="./assets/images/right-arrow.png"></div>

         <!-- image one hide -->
         <div [hidden]="!imgTwo" class="Grid-cell"><img (click)="imgTwo = !imgTwo; imgOne = !imgOne" class="left-arrow" src="./assets/images/left-arrow.png"></div>
         <div [hidden]="!imgTwo" class="Grid-cell"><img (click)="imgTwo = !imgTwo; imgOne = !imgOne" class="right-arrow" src="./assets/images/right-arrow.png"></div>

       </div>
       <div class="mobile">
         <!-- image one hide -->
         <div [hidden]="imgOne" class="Grid-cell"><img (click)="imgTwo = !imgTwo; imgOne = !imgOne" class="left-arrow" src="./assets/images/left-arrow.png"></div>
         <div [hidden]="imgOne" class="Grid-cell"><img (click)="imgTwo = !imgTwo; imgOne = !imgOne" class="right-arrow" src="./assets/images/right-arrow.png"></div>

         <!-- image one hide -->
         <div [hidden]="!imgTwo" class="Grid-cell"><img (click)="imgTwo = !imgTwo; imgOne = !imgOne" class="left-arrow" src="./assets/images/left-arrow.png"></div>
         <div [hidden]="!imgTwo" class="Grid-cell"><img (click)="imgTwo = !imgTwo; imgOne = !imgOne" class="right-arrow" src="./assets/images/right-arrow.png"></div>
       </div>

        <div class="Grid Grid--full u-textCenter">
           <div class="Grid-cell"><img [hidden]="imgOne" class="roadmap" src="./assets/images/roadmap.png"></div>

           <div class="Grid-cell"><img [hidden]="!imgTwo" class="roadmap" src="./assets/images/timeline.png"></div>

           <div class="Grid-cell"><img [hidden]="!imgThree" class="roadmap" src="./assets/images/roadmap.png"></div>
        </div>
     </div>
   </div>

   <div id="tokensale" class="section-f">
     <div class="wrapper">
       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><h1>BLACKBOX TOKEN SALE</h1></div>
       </div>

       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><img src="./assets/images/line.png"></div>
       </div>

       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><img class="timeline" src="./assets/images/timeline.png"></div>
       </div>

       <div class="Grid Grid--gutters Grid--cols-2 token-sale">
         <div class="Grid-cell">
           <h4>February</h4>
           <p>Initial Token Sale Announcement, Blackbox Website</p>

           <h4>March</h4>
           <p>Initial Coin Offering, Team & Influencer Recruitment, Coin Delivery</p>

         </div>
         <div class="Grid-cell">
           <h4>April</h4>
           <p>Begin Building BBX Platform</p>

           <h4>BONUS STRUCTURE</h4>
           <li><img class="blue-dot" src="./assets/images/blue-dot.png"><span class="blue-dot-text">Day 1 <span class="blue-dot-percent">30%</span> </span></li>

           <li><img class="blue-dot" src="./assets/images/blue-dot.png"><span class="blue-dot-text">Day 2 <span class="blue-dot-percent">20%</span> </span></li>

           <li><img class="blue-dot" src="./assets/images/blue-dot.png"><span class="blue-dot-text">Day 4 <span class="blue-dot-percent">7.10%</span> </span></li>

           <li><img class="blue-dot" src="./assets/images/blue-dot.png"><span class="blue-dot-text">Day 8-14 <span class="blue-dot-percent-two">No Bonus</span> </span></li>

         </div>
       </div>
     </div>
   </div>

   <div id="team" class="section-g">
     <div class="wrapper">
       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><h1>MEET THE TEAM</h1></div>
       </div>

       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell"><img src="./assets/images/line.png"></div>
       </div>

       <div class="team-img-container" [ngStyle]="{'margin-left': teamMargin}">
         <img class="team-img rotate" src="./assets/images/gust.png" (mouseover)="gust=true " [hidden]="gust">
         <img class="team-img rotate" src="./assets/images/gustHover.png" (mouseout)="gust=false" [hidden]="!gust">

         <img class="team-img" src="./assets/images/eric.png" (mouseover)="eric=true" [hidden]="eric">
         <img class="team-img" src="./assets/images/ericHover.png" (mouseout)="eric=false" [hidden]="!eric">

         <img class="team-img" src="./assets/images/david.png" (mouseover)="david=true" [hidden]="david">
         <img class="team-img" src="./assets/images/davidHover.png" (mouseout)="david=false" [hidden]="!david">

         <img class="team-img" src="./assets/images/brandon.png" (mouseover)="brandon=true" [hidden]="brandon">
         <img class="team-img" src="./assets/images/brandonHover.png" (mouseout)="brandon=false" [hidden]="!brandon">

         <img class="team-img" src="./assets/images/jeff.png" (mouseover)="jeff=true" [hidden]="jeff">
         <img class="team-img" src="./assets/images/jeffHovered.png" (mouseout)="jeff=false" [hidden]="!jeff">

         <img class="team-img" src="./assets/images/keller.png" (mouseover)="keller=true" [hidden]="keller">
         <img class="team-img" src="./assets/images/kellerHover.png" (mouseout)="keller=false" [hidden]="!keller">
       </div>

       <!-- <div class="Grid Grid--gutters Grid--cols-6 u-textCenter">
         <div class="Grid-cell">

           <img class="team-img rotate" src="./assets/images/gust.png" (mouseover)="gust=true " [hidden]="gust">
           <img class="team-img rotate" src="./assets/images/gustHover.png" (mouseout)="gust=false" [hidden]="!gust">
           <p class="team-img-p"[hidden]="!gust">Gust Kepler serves as the Chief Executive Officer for Blackboxstocks, Inc.  Mr. Kepler is a firm believer in the adage “simplicity sells”. His mission as the founder and developer of the company’s technology is to offer the general public a comprehensive financial technology tool in a simple and user friendly format. In addition to overseeing all aspects of product development, Kepler is responsible for strategic planning, marketing and corporate financial decisions. Mr. Kepler is a sees the great potential for decentralized applications built using cryptocurrency and is pioneering social trading with Blackbox Crypto</p>
         </div>
         <div class="Grid-cell">
           <img class="team-img" src="./assets/images/eric.png" (mouseover)="eric=true" [hidden]="eric">
           <img class="team-img" src="./assets/images/ericHover.png" (mouseout)="eric=false" [hidden]="!eric">
           <p class="team-img-p"[hidden]="!eric">Eric Pharis has been working in quantitative finance for 20 years.  Pharis earned his bachelor of science in Mechanical Engineering from The University of Texas Austin in 1998 and his Masters Degree in Operations Research from Cornell University with a certificate in Financial Engineering in 1999. While studying at UT, Pharis also worked for IBM and developed financial models to assist in output optimization.  After graduating Cornell, Pharis moved to Wall Street and began proprietary trading at Daytek Securities, the founders of INET, a pioneer in the area of electronic and algo trading.</p>
         </div>
         <div class="Grid-cell">
           <img class="team-img" src="./assets/images/david.png" (mouseover)="david=true" [hidden]="david">
           <img class="team-img" src="./assets/images/davidHover.png" (mouseout)="david=false" [hidden]="!david">
           <p class="team-img-p"[hidden]="!david"> David Kyle has been working in software development for 21 years. Kyle earned his Bachelor of Science in Electrical Engineering from the University of Texas at Austin in 1996.  While at UT, Kyle worked for Microsoft supporting the launch of Windows 95. After graduating from the University of Texas in 1996, Kyle returned to Dallas and began working in quality assurance and support at J. Driscoll & Associates, who specialized in account reconciliation software for retailers. Kyle is in charge of software engineering, database management, tick feed processing and all aspects of system development for the Blackboxstocks platform.</p>
         </div>
         <div class="Grid-cell">
           <img class="team-img" src="./assets/images/brandon.png" (mouseover)="brandon=true" [hidden]="brandon">
           <img class="team-img" src="./assets/images/brandonHover.png" (mouseout)="brandon=false" [hidden]="!brandon">
           <p class="team-img-p"[hidden]="!brandon"> Brandon serves as the Chief Technology Officer for the company through his consulting firm Cyfeon Solutions. Brandon serves as the lead architect and developer for Blackboxstocks real-time web application. Cyfeon is a Financial Services vertical focused on operational and regulatory compliance. Financial Institutions such as Schwab, HSBC, Cowen, and more use Cyfeon’s purpose built solutions to federate and analyze large and disparate sources of data. Brandon holds an MBA from Southern Methodist University, a BBA in CIS from Texas State University and served four years in the United States Marine Corps.</p>
         </div>
         <div class="Grid-cell">
           <img class="team-img" src="./assets/images/jeff.png" (mouseover)="jeff=true" [hidden]="jeff">
           <img class="team-img" src="./assets/images/jeffHovered.png" (mouseout)="jeff=false" [hidden]="!jeff">
           <p class="team-img-p"[hidden]="!jeff"> Jeff Sharrock oversees accounting, communications, and IT solutions for the company. He is also in charge of financial analysis, budgeting, compliance and corporate governance for Blackboxstocks.com. Prior to joining Blackboxstocks, Mr. Sharrock served as the Director of Operations for G2 International, Inc. G2 is an investment banking consulting firm specializing in taking private companies public and providing those companies with advice regarding capitalization, strategic planning and investor relations.  Sharrock oversaw all aspects of daily operations and was heavily involved in the accounting and regulatory aspects of the company. He also served as the main point of contact for larger clients.</p>
         </div>
         <div class="Grid-cell">
           <img class="team-img" src="./assets/images/keller.png" (mouseover)="keller=true" [hidden]="keller">
           <img class="team-img" src="./assets/images/kellerHover.png" (mouseout)="keller=false" [hidden]="!keller">
           <p class="team-img-p"[hidden]="!keller">Keller Reid is a fintech veteran with 13 years of experience in all aspects of the financial services industry. He has advised fintech startups and serves on multiple boards in addition to his work in the wealth management space. Keller brings his vast experience in the financial technology to oversee the final stages of the development and launch of Blackboxstocks.com. Keller collaborates on all facets of technology needed to bring the company’s website to enterprise level. Keller coordinates projects and communications between staff and vendors and engages the development of strategic partnerships.</p>
         </div>

       </div> -->

         <div class="button-padding u-textCenter">
           <button class="button-blue" (click)="moveLeft()">left</button>
           <button class="button-blue" (click)="moveRight()">right</button>
         </div>
     </div>

   </div>

   <div id="wallets" class="section-h bg-right">
     <div class="wrapper">
       <div class="Grid Grid--full u-textCenter wallets-padding">
         <div class="Grid-cell">
           <h1>WALLETS</h1>
         </div>

           <div class="Grid-cell">
             <img src="./assets/images/whiteLine.png">
           </div>
       </div>
     </div>

     <div class="Grid Grid--gutters Grid--cols-3 u-textCenter">
       <div *ngIf="wallet1" [@token1] class="Grid-cell">
         <img src="./assets/images/apple.png">
         <h4>Avaiable For <br/> Mac </h4>
       </div>

       <div *ngIf="wallet2" [@token2] class="Grid-cell">
         <img src="./assets/images/windows.png">
         <h4>Avaiable For <br/> Windows</h4>
       </div>

       <div *ngIf="wallet3" [@token3] class="Grid-cell">
         <img src="./assets/images/linux.png">
         <h4>Avaiable For <br/> Linux</h4>
       </div>
     </div>
   </div>

   <div id="partners" class="section-i">
     <div class="wrapper">
       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell">
           <h1>SUPPORTED BY PARTNERS</h1>
         </div>

         <div class="Grid-cell partners-padding">
           <img src="./assets/images/line.png">
         </div>

       </div>
       <div class="Grid Grid--gutters Grid--cols-5 u-textCenter">
         <div class="Grid-cell"><img src="./assets/images/purex.png"></div>
         <div class="Grid-cell"><img src="./assets/images/mega.png"></div>
         <div class="Grid-cell"><img src="./assets/images/windows-box.png"></div>
         <div class="Grid-cell"><img src="./assets/images/rolex.png"></div>
         <div class="Grid-cell"><img src="./assets/images/duro.png"></div>

       </div>
     </div>
   </div>

   <div id="faq" class="section-J">
     <div class="wrapper">
       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell">
           <h1>FREQUENTLY ASKED QUESTIONS</h1>
         </div>

         <div class="Grid-cell faq-padding">
           <img src="./assets/images/line.png">
         </div>
       </div>

       <div class="Grid Grid--full u-textCenter">

         <div class="Grid-cell">
           <p (click)="faq1 = !faq1" [ngClass]="{'faq': !faq1, 'faq-blue': faq1}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore
           <img *ngIf="!faq1"  class="arrow" src="./assets/images/arrow.png">
           <img  *ngIf="faq1" class="arrow" src="./assets/images/up-arrow.png">
           </p>

           <p class="faq-hidden" *ngIf="faq1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
         </div>
         <div class="Grid-cell">
           <p (click)="faq2 = !faq2" [ngClass]="{'faq': !faq2, 'faq-blue': faq2}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore
           <img *ngIf="!faq2"  class="arrow" src="./assets/images/arrow.png">
           <img  *ngIf="faq2" class="arrow" src="./assets/images/up-arrow.png">
           </p>

           <p class="faq-hidden" *ngIf="faq2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
         </div>
         <div class="Grid-cell">
           <p (click)="faq3 = !faq3" [ngClass]="{'faq': !faq3, 'faq-blue': faq3}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore
           <img *ngIf="!faq3"  class="arrow" src="./assets/images/arrow.png">
           <img  *ngIf="faq3" class="arrow" src="./assets/images/up-arrow.png">
           </p>

           <p class="faq-hidden" *ngIf="faq3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
         </div>
         <div class="Grid-cell">
           <p (click)="faq4 = !faq4" [ngClass]="{'faq': !faq4, 'faq-blue': faq4}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore
           <img *ngIf="!faq4"  class="arrow" src="./assets/images/arrow.png">
           <img  *ngIf="faq4" class="arrow" src="./assets/images/up-arrow.png">
           </p>

           <p class="faq-hidden" *ngIf="faq4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
           <img *ngIf="!faq4"  class="arrow" src="./assets/images/arrow.png">
           <img  *ngIf="faq4" class="arrow" src="./assets/images/up-arrow.png">
           </p>
         </div>
         <div class="Grid-cell">
           <p (click)="faq5 = !faq5" [ngClass]="{'faq': !faq5, 'faq-blue': faq5}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore
           <img *ngIf="!faq5"  class="arrow" src="./assets/images/arrow.png">
           <img  *ngIf="faq5" class="arrow" src="./assets/images/up-arrow.png">
         </p>

           <p class="faq-hidden" *ngIf="faq5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
         </div>
       </div>
     </div>
   </div>

   <div id="k" class="section-k bg">
     <div class="wrapper">
       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell">
           <h1>JOIN OUR COMMUNITY</h1>
         </div>

         <div class="Grid-cell join-padding">
           <img src="./assets/images/whiteLine.png">
         </div>
       </div>
       <div class="Grid Grid--gutters Grid--cols-5 u-textCenter token-sale">
         <div class="Grid-cell">
           <img class="icon" src="./assets/images/facebook.png">
           <h4>Facebook</h4>
         </div>
         <div class="Grid-cell">
           <img class="iconTwo" src="./assets/images/twitter.png">
           <h4>Twitter</h4>
         </div>
         <div class="Grid-cell">
           <img class="iconThree" src="./assets/images/telegramIcon.png">
           <h4>Telegram</h4>
         </div>
         <div class="Grid-cell">
           <img class="iconTwo" src="./assets/images/discord.png">
           <h4>Discord</h4>
         </div>
         <div class="Grid-cell">
           <img class="icon" src="./assets/images/reddit.png">
           <h4>Reddit</h4>
         </div>
       </div>
     </div>
   </div>

   <div id="l" class="section-l black-bg">
     <div class="wrapper">
       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell">
          <a href="#home"><img class="logo" src="./assets/images/logo-blue.png"></a>
           <hr>
         </div>
       </div>

       <div class="Grid Grid--full u-textCenter">
         <div class="Grid-cell">
           <p>BLACKBOX CRYPTOS. Copy Rights, All Rights Reserved 2018</p>
         </div>
       </div>
     </div>
   </div>


</body>
</html>
